@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'tailwindcss';

@theme {
    --font-sans: 'Montserrat', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    
    /* Cores principais */
    --color-primary: #44daec;
    --color-secundary: #7fe3ef;
    --color-third: #baecf2;
    --color-background: #f6f6f6;
    
    /* Níveis da cor primária */
    --color-primary-50: #f0fdfe;
    --color-primary-100: #e0fbfd;
    --color-primary-200: #baf6fa;
    --color-primary-300: #7eeef6;
    --color-primary-400: #44daec;
    --color-primary-500: #1bc4d8;
    --color-primary-600: #0fa0b3;
    --color-primary-700: #118092;
    --color-primary-800: #146a79;
    --color-primary-900: #155a66;
    
    /* Níveis da cor secundária */
    --color-secundary-50: #f0fdfe;
    --color-secundary-100: #e0fbfd;
    --color-secundary-200: #baf6fa;
    --color-secundary-300: #7fe3ef;
    --color-secundary-400: #3dd1e0;
    --color-secundary-500: #1bb8c8;
    --color-secundary-600: #1a93a0;
    --color-secundary-700: #1c7581;
    --color-secundary-800: #1e5f6a;
    --color-secundary-900: #1e4f58;
    
    /* Níveis da cor terciária */
    --color-third-50: #f0fdfe;
    --color-third-100: #e6fbfc;
    --color-third-200: #d1f7f9;
    --color-third-300: #b8f2f6;
    --color-third-400: #baecf2;
    --color-third-500: #8ee4ed;
    --color-third-600: #6dd4e0;
    --color-third-700: #4bb8c7;
    --color-third-800: #3f9aa6;
    --color-third-900: #367f89;
}
